body {
  background-image: url("https://digitalsynopsis.com/wp-content/uploads/2017/07/beautiful-color-ui-gradients-backgrounds-sweet-morning.png");
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  color: white;
  margin-left: 15%;
  margin-top: 12%;
  margin-bottom: 0;
  font-size: 8vh;
  font-family: 'Montserrat', sans-serif;
  line-height: 90px;
}

.headline p {
  color: white;
  margin-left: 15%;
  margin-top: 0;
  font-size: 3vh;
  font-family: 'Work Sans', sans-serif;
  line-height: 40px;
}

.btext p {
  color: none;
}

.dropbtn {
    margin-left: 6vw;
    background-color: transparent;
    color: white;
    font-family: 'Abel', sans-serif;
    padding: 16px;
    letter-spacing: 2px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: gray;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: grey;}

.show {display: block;}

.topnav {
  overflow: hidden;
  background-color: none;
  margin-left: 8%;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

div.workbuttoncontainer {
  margin-left: 15%;
}

div.workbutton {
  display: inline-block;
  margin-top: 2%;
  margin-right: 5%;
  color: #white;
  background-color: white;
  border: 2px solid white;
  border-radius: 25px;
  text-transform: uppercase;
  font-family: 'Work Sans', sans-serif;
  color: white;
  padding: 2px;
  width: 20%;
  height: 10%;
  text-align: center;
  opacity: 0.6;
  transition: 0.3s;
}

div.workbutton:hover {opacity: 1}

div.workbutton h3 {
  color: white;
}
